{{ define "root" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Apéro provisioning</title>

    <link rel="stylesheet" href="provisioning.css" />
  </head>
  <body>
    <div class="header">
      <a href="#mnemonic" class="active">Mnemonic</a>
      <a href="#hex">Hex</a>
    </div>

    <div id="container-hexkeys" style="display: none;">
      <div class="endpoint">
        <h1>{{ .Endpoint }}</h1>
      </div>
      <div class="hexkey">
        <h1>Pre-shared key</h1>
        {{ template "hexkey" (.Hex.PSKey) }}
      </div>
      <div class="hexkey">
        <h1>Encryption key</h1>
        {{ template "hexkey" (.Hex.EncryptKey) }}
      </div>
      <div class="hexkey">
        <h1>Sign public key</h1>
        {{ template "hexkey" (.Hex.SignPublicKey) }}
      </div>
      <div class="hexkey">
        <h1>Sign private key</h1>
        {{ template "hexkey" (.Hex.SignPrivateKey) }}
      </div>
    </div>

    <div id="container-mmkeys">
      <div class="endpoint">
        <h1>{{ .Endpoint }}</h1>
      </div>
      <div class="hexkey">
        <h1>Pre-shared key</h1>
        {{ template "mmkey" (.Mnemonic.PSKey) }}
      </div>
      <div class="hexkey">
        <h1>Encryption key</h1>
        {{ template "mmkey" (.Mnemonic.EncryptKey) }}
      </div>
      <div class="hexkey">
        <h1>Sign public key</h1>
        {{ template "mmkey" (.Mnemonic.SignPublicKey) }}
      </div>
      <div class="hexkey">
        <h1>Sign private key</h1>
        {{ template "mmkey" (.Mnemonic.SignPrivateKey) }}
      </div>
    </div>
  </body>

  <script src="provisioning.js"></script>
</html>
{{ end }}
