html,
body {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 1.7em;
  color: #444;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, [link] 200px);
  background-color: #333;
}

.header > a {
  height: 50px;
  text-align: center;
  color: white;
  background-color: #333;
  text-decoration: none;
}

.header > a.active {
  background: linear-gradient(180deg, #333 94%, orange 6%);
}

.urls {
  display: grid;

  grid-template-areas:
    "provisioning provisioning-url"
    "endpoint endpoint-url";

  margin-bottom: 3em;
}

#container-hexkeys {
  display: grid;
  grid-template-areas:
    "pskey encryptionkey"
    "publickey privatekey";
  column-gap: 1em;
  row-gap: 1em;
}

#container-mmkeys {
  display: grid;
  grid-template-areas:
    "pskey"
    "encryptionkey"
    "publickey"
    "privatekey";
  column-gap: 1em;
  row-gap: 1em;

  justify-items: center;
}

.mmkey {
  display: grid;
  align-items: start;
  align-content: start;
  width: 90vw;
}

.hexkey {
  display: grid;
  align-items: start;
  align-content: start;
}

.hexkey h1, .mmkey h1 {
  text-align: center;

  background-color: #eee;
  color: black;

  margin-bottom: 0;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  margin-top: 0;
}

.mmkey-data {
  border: black 2px solid;
  font-family: monospace;
  font-size: 1.8em;

  word-wrap: normal;
  text-align: justify;

  padding: 10px;
}

.hexkey-data :nth-child(even) {
  background-color: #eee;
}
.hexkey-data {
  display: grid;

  grid-template-columns: repeat(27, [digit] 1fr);

  border: black 2px solid;
  font-family: monospace;
  font-size: 2em;
}

.hexkey-data div {
  text-align: center;
  width: 30px;
  padding: 3px;
}

.hexkey-data span {
  display: block;
  text-align: center;
  font-size: 0.38em;
  color: gray;
}

.hexkey-data .number {
  color: blue;
}
