html,
body {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 1.7em;
  color: #444;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.container {
  display: grid;
  grid-template-areas: 
    "endpoint"
    "pskey"
    "encryptionkey"
    "publickey"
    "privatekey";
  column-gap: 1em;
  row-gap: 1em;
  
  justify-items: center;
}

.endpoint {
  text-align: center;
}

.key {
  display: grid;

  align-items: start;
  align-content: start;

  width: 90vw;
}

.key h1 {
  text-align: center;

  background-color: #eee;
  color: black;

  margin-bottom: 0;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  margin-top: 0;
}

.key-data {
  border: black 2px solid;
  font-family: monospace;
  font-size: 1.8em;
  
  word-wrap: normal;
  text-align: justify;
  
  padding: 10px;
}