{{ define "root" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Apéro provisioning</title>

    <link rel="stylesheet" href="provisioning.css" />
  </head>
  <body>
    <div class="container">
      <div class="key">
        <h1>Pre-shared key</h1>
        {{ template "key" (.PSKey) }}
      </div>
      <div class="key">
        <h1>Encryption key</h1>
        {{ template "key" (.EncryptKey) }}
      </div>
      <div class="key">
        <h1>Sign private key</h1>
        {{ template "key" (.SignPrivateKey) }}
      </div>
      <div class="key">
        <h1>Sign public key</h1>
        {{ template "key" (.SignPublicKey) }}
      </div>
    </div>
  </body>
</html>
{{ end }}
